<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="info">
					<match url="^(.*/)*info/([0-9]+)\.html$" />
					<action type="Rewrite" url="info.asp?id={R:2}" />
				</rule>
				<rule name="channel-page">
					<match url="^(.*/)*channel/(.*)-([0-9]+)\.html$" />
					<action type="Rewrite" url="channel.asp?name={R:2}&amp;page={R:3}" />
				</rule>
				<rule name="channel">
					<match url="^(.*/)*channel/(.*)\.html$" />
					<action type="Rewrite" url="channel.asp?name={R:2}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>